<div  class="container-fluid" >
  <div class= "d-flex justify-content-center gap-2">
    <div class="col-12">
      <%= link_to root_path do %>
        <%= image_tag "home.png", height: 20, width: 20 %>
      <% end %>
    </div>
  </div>
  <h1 class = "pt-3 mt-3" >Hi, </h1>
  <h2>Your saved recipes:</h2>
  <% @favorite_recipes.each do |favorite| %>
    <div class="card-product mb-3">
      <%= cl_image_tag favorite.recipe.photo.key, height: 500, width: 500, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= favorite.recipe.name %></h2>
        <p><%= favorite.recipe.description %></p>
      </div>
    </div>
  <% end %>
</div>
