<div class= "d-flex banner-dashboard mb-3">
  <div class="home-house my-3" >
    <%= link_to root_path do %>
      <%= image_tag "home.png", height: 35, width: 35, class:"home-icon" %>
    <% end %>
  </div>

  <div class= "message mx-3">
    <h1>Hi <%= current_user.email[0,7].capitalize %>,</h1>
    <h2>Your bookmarks:</h2>
    <h2></h2>
  </div>
  <%= image_tag "Yumstatouille.png", class: "justify-content-end"%>
</div>



<% @favorite_recipes.each do |favorite| %>
  <div class="card-product mb-3">
    <%= link_to favorite.recipe do %>
      <%= cl_image_tag favorite.recipe.photo.key, height: 500, width: 500, crop: :fill %>
    <% end %>

    <div class="card-product-infos">
      <%= link_to favorite.recipe do %>
        <h2><%= favorite.recipe.name %></h2>
        <div class="d-flex justify-content-between">
          <p><%= favorite.recipe.minutes %> Min. </p>
          <p><%= favorite.recipe.nutritional_info[0,10] %></p>
        </div>
      <% end %>
    </div>

    <div class="delete">
      <%= link_to favorite_path(favorite), remote: true, method: :delete do %>
        <%= image_tag "delete.png", height: 3, width: 3,  crop: :fill, class:"button-icon" %>
      <% end %>
    </div>

  </div>
<% end %>
