<div class= "d-flex banner-dashboard mb-3">
  <div class="home-house my-3" >
    <%= link_to root_path do %>
      <%= image_tag "home.png", height: 35, width: 35, class:"home-icon" %>
    <% end %>
  </div>


  <div class= "message mx-3">
    <h1>Hi,</h1>
    <h2>Your recipes:</h2>
  </div>

  <%= image_tag "Yumstatouille.png", class: "justify-content-end"%>
</div>

<% @favorite_recipes.each do |favorite| %>
  <%= link_to favorite.recipe do %>
    <div class="card-product mb-3">
      <%= cl_image_tag favorite.recipe.photo.key, height: 500, width: 500, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= favorite.recipe.name %></h2>
        <p><%= favorite.recipe.minutes %> Min. </p>
        <p><%= favorite.recipe.nutritional_info %></p>
      </div>
      <div class="delete">
        <%= link_to favorite_path(favorite), method: :delete do %>
          <%= image_tag "delete.png", height: 3, width: 3,  crop: :fill, class:"button-icon" %>
        <% end %>
      </div>
    </div>
  <% end  %>
<% end %>
