<div class="container" >
  <div class= "col-sm-12">
    <div class= "d-flex justify-content-center gap-2">
      <div class="product-img">
        <%= cl_image_tag @recipe.photo.key, height: 400, width: 500, crop: :fill %>
        <div  class="d-flex justify-content-between">
          <%= link_to "ðŸ ", root_path %>
          <% if @favorite.nil? %>
          <%= link_to "â­ï¸", recipe_favorites_path(@recipe), method: :post %>
         <% else %>
          <%= link_to "ðŸ—‘", favorite_path(@favorite), method: :delete %>
         <% end %>
        </div>
        <div  class="d-flex justify-content-between">
          <%= "â°: #{@recipe.minutes}" %>
          <%= "ðŸ“: #{@recipe.nutritional_info}" %>
        </div>
        <h1><%= @recipe.name %></h1>
        <p><%= @recipe.description %></p>

        <div class= "swipe-btn">
          <div class="d-flex justify-content-between">
            <% if @recipe == Recipe.last %>
              <%= link_to selection_path(Recipe.first) do %>
                <%= image_tag "redx.png", height: 50, width: 50 %>
              <% end %>
            <% else %>
              <%= link_to selection_path(@recipe.id.next) do %>
                <%= image_tag "redx.png", height: 50, width: 50 %>
              <% end %>
            <% end %>
              <%= link_to recipe_path(@recipe) do %>
                <%= image_tag "yes.png", height: 50, width: 50 %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
