
  <div class="product-img">
    <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(255,255,255,0.5)), url('<%= cl_image_path @recipe.photo.key %>')">
      <div  class="d-flex justify-content-between">
        <%= link_to root_path do %>
          <%= image_tag "home.png", height: 35, width: 35, class:"button-icon" %>
        <% end %>
        <% if @favorite.nil? %>
          <%= link_to recipe_favorites_path(@recipe), method: :post do %>
            <%= image_tag "ribbon.png", height: 35, width: 35, class:"button-icon" %>
          <% end %>
        <% else %>
        <%= link_to favorite_path(@favorite), method: :delete do %>
          <%= image_tag "ribbon1.png", height: 35, width: 35, class:"button-icon" %>
        <% end %>
        <% end %>
      </div>
      <div class="recipe-name">
        <h1><%= @recipe.name %></h1>
      </div>

    </div>
      <div  class= "d-flex justify-content-center">
        <div class= "recipe-minutes">
          <%= image_tag "timer.png", height: 20, width: 20 %> <%= "#{@recipe.minutes} Min." %>
        </div>
        <div class= "recipe-kcal">
          <%= image_tag "fire1.png", height: 18, width: 18 %> <%= "#{@recipe.nutritional_info}" %>
        </div>
      </div>

    <p class= "text-center"><%= @recipe.description %></p>

    <div class= "swipe-btn">
      <div class="d-flex justify-content-center align-center">

        <%= link_to selection_path(@recipes.sample, { recipes: @recipes }) do %>
          <%= image_tag "nonoham.png", height: 50, width: 50 %>
        <% end %>

        <%= link_to recipe_path(@recipe) do %>
          <%= image_tag "yesham.png", height: 50, width: 50 %>
        <% end %>

      </div>
    </div>
  </div>
