  <div class="product-img">
    <div class="card-image" style="background-image: url('<%= cl_image_path @recipe.photo.key %>')">
      <div  class="d-flex justify-content-between">
        <%= link_to root_path do %>
          <%= image_tag "home.png", height: 30, width: 30, class:"button-icon" %>
        <% end %>
        <% if @favorite.nil? %>
          <%= link_to recipe_favorites_path(@recipe), method: :post do %>
            <%= image_tag "ribbon.png", height: 28, width: 28, class:"button-icon" %>
          <% end %>
        <% else %>
        <%= link_to favorite_path(@favorite), method: :delete do %>
          <%= image_tag "ribbon1.png", height: 28, width: 28, class:"button-icon" %>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class= "recipe-info">
      <div  class="d-flex justify-content-center">
        <%= image_tag "timer.png", height: 20, width: 20 %> <%= "#{@recipe.minutes} Min." %>
        <%= image_tag "fire1.png", height: 18, width: 18 %> <%= "#{@recipe.nutritional_info}" %>
      </div>
    </div>
    <h1 class= "text-center"><%= @recipe.name %></h1>
    <p class= "text-center"><%= @recipe.description %></p>

    <div class= "swipe-btn">
      <div class="d-flex justify-content-center align-center">
        <% if @recipe == Recipe.last %>
          <%= link_to selection_path(Recipe.first) do %>
            <%= image_tag "redx.png"%>
          <% end %>
        <% else %>
          <%= link_to selection_path(@recipe.id.next) do %>
            <%= image_tag "redx.png" %>
          <% end %>
        <% end %>

          <%= link_to recipe_path(@recipe) do %>
            <%= image_tag "yes.png" %>
          <% end %>
      </div>
    </div>
  </div>
