<div class="show-recipe">
  <div class="show-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(255,255,255,0.5)), url('<%= cl_image_path @recipe.photo.key %>')">
    <div class="d-flex justify-content-between">

      <%# 1. FLEXBOX: Home button back to Home page %>
        <%= link_to root_path do %>
          <%= image_tag "home.png", height: 35, width: 35, class:"button-icon" %>
        <% end %>


      <%# 3. FLEXBOX: Bookmark - save a favorite recipe <--> delete a favorite recipe in the dashboard %>
      <% if @favorite.nil? %>
        <%# 3.1 Flexbox: If is not save in the dasboard, we show the unmark bookmark %>
        <%= link_to recipe_favorites_path(@recipe, { recipes: @recipes }), method: :post do %>
          <%= image_tag "ribbon.png", height: 35, width: 35, class:"button-show"%>
        <% end %>
      <% else %>
        <%# 3.2 Flexbox: If we have a favorite (save in the dashboard), we show the  %>
        <%= link_to favorite_path(@favorite), method: :delete do %>
          <%= image_tag "ribbon1.png", height: 35, width: 35, class:"button-icon" %>
        <% end %>
      <% end %>
    </div>

      <div class= "recipe-title">
        <%= link_to selection_path(@recipe, { recipes: @recipes }), style: "z-index: 1;" do %>
          <%= image_tag "back_left.png", height: 35, width: 35, class:"button-back" %>
        <% end %>
        <h1><%= @recipe.name %></h1>
      </div>
  </div>

    <h4 class = "m-4">Cooking instructions:</h4>

  <div class= "container-instructions">

    <div class="d-flex justify-content-between">
      <% @recipe.ingredient_recipes.each do |ing| %>
        <%= cl_image_tag ing.ingredient.photo.key, height: 55, width: 55, crop: :fill %>
      <% end %>
    </div>

    <% @recipe.instructions.split(".").each do |paragraph| %>
      <p class = "m-3">
        <%= paragraph + "." %>
      </p>
    <% end %>
  </div>
</div>
