<div class="show-recipe">
  <div class="show-image" style="background-image: url('<%= cl_image_path @recipe.photo.key %>')">
    <div class="d-flex justify-content-between">

  <%= link_to root_path do %>
          <%= image_tag "home.png", height: 30, width: 30, class:"button-icon" %>
        <% end %>
      <h1 class = "text-center" class = "m-3" ><strong><%= @recipe.name %></strong></h1>

      <% if @favorite.nil? %>
        <%= link_to recipe_favorites_path(@recipe), method: :post do %>
          <%= image_tag "ribbon1.png", height: 30, width: 30, class:"button-show"%>
        <% end %>
      <% else %>
        <p><%= link_to "🗑", favorite_path(@favorite), method: :delete, class:"button-show" %></p>
      <% end %>
    </div>
  </div>

    <h4 class = "m-3">Cooking instructions:</h4>
  <div class= "container-instructions">

    <% @recipe.ingredient_recipes.each do |ing| %>
      <p class = "text-center" ><%= ing.ingredient.name %></p>
    <% end %>

    <p class = "m-3"><%= @recipe.instructions %></p>
  </div>
</div>
