<div class="navbar" data-controller="menu" data-menu-target="navbar">
  <button data-action="click->menu#expand" class="navbar-toggler">
    <i class="fas fa-bars"></i>
  </button>

  <div class="menu" data-menu-target="menu">
    <ul>
      <span data-action="click->menu#collapse">X</span>

      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "dropdown-item" %>
          <%= link_to "Favourites", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <%= link_to "Favourites", dashboard_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
