
<div class="container-fluid p-0">
      <%= render '/shared/navbar' %>
  <div class="container-fluid p-0">
    <div class="row">
      <div class= "col-12">
        <div class= "banner">
            <%=image_tag "logo-yumster.svg", class: "logo"%>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="ingredient-slot">
      <div class="row">
        <div class= "col-12 d-flex align-item-center">
          <h3>slot carbs</h3>
        </div>

        <%= f.input :carbs, collection: @ingredients_carbs %>
      </div>
    </div>
    <div class="ingredient-slot">
      <div class="row">
        <div class= "col-12 d-flex align-item-center">
          <h2>slot meat/plant protein</h2>
        </div>

        <%= f.input :protein, collection: @ingredients_protein %>
      </div>
    </div>
      <div class="ingredient-slot">
        <div class="row">
          <div class= "col-12 d-flex align-item-center">
            <h2>slot veggies</h2>
          </div>

        <%= f.input :vegetable, collection: @ingredients_vegetable %>
        </div>
      </div>
  <div class= "col-12 d-flex justify-content-center">
    <div class="finish-button">
      <%= f.submit 'Search' %>
    </div>
  </div>
  <div class= "col-12 d-flex justify-content-center">
    <div class="finish-button">
      <a href="<%= selection_path(Recipe.first) %>" class="btn btn-warning" role="button">Go to recipe</a>
    </div>
  </div>
</div>
<% end %>
