
<div class= "blue-wrapper">
  <div class="row">
    <div class= "col-12">
      <div class= "banner">

      </div>
    </div>
  </div>
  <br>
  <br>

  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="ingredient-slot">
        <div class="row">
          <%= f.input :carbs, collection: @ingredients_carbs %>
        </div>
      </div>
      <div class="ingredient-slot">
        <div class="row">
          <%= f.input :protein, collection: @ingredients_protein %>
        </div>
      </div>
        <div class="ingredient-slot">
          <div class="row">
            <%= f.input :vegetable, collection: @ingredients_vegetable %>
          </div>
        </div>
    <div class= "col-12 d-flex justify-content-center">
      <div class="finish-button">
        <%= f.submit 'Search' %>
      </div>
    </div>
  <% end %>
</div>
