<!DOCTYPE html>
<html>
  <head>
    <title>Yumster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <% if current_page?(root_path) %>
    <body style="background-color: #227C9D;">
  <% else  %>
    <body>
  <% end %>
  <div style="position: fixed; width: 100%; overflow-x: hidden; max-width: 100vw; height: 100%;">

  <%if current_page?(root_path) %>
      <%= render '/shared/navbar' %>
  <% end %>

      <div class="row justify-content-center h-100">
        <div class="col-12 col-lg-6">

            <%= render 'shared/flashes' %>
            <%= yield %>
        </div>
      </div>

</div>
  </body>
</html>
